gradio==3.44.0
gradio_client==0.5.0
pypinyin
tiktoken
socksio
tqdm~=4.66.1
colorama
googlesearch-python
Pygments
openai==1.3.7
langchain==0.0.345
markdown
PyPDF2~=3.0.1
pdfplumber
pandas~=2.0.3
commentjson
openpyxl~=3.1.2
pandoc
wolframalpha
faiss-cpu==1.7.4
duckduckgo-search>=4.1.1
arxiv
wikipedia
google-cloud-aiplatform
google.generativeai
unstructured
google-api-python-client
tabulate
ujson
python-docx
websocket_client
pydantic~=1.10.13
google-search-results
anthropic==0.18.1
Pillow~=9.4.0
protobuf==3.20.3
ollama>=0.1.6

aiohttp~=3.8.3
huggingface_hub~=0.15.1
transformers~=4.33.0.dev0
accelerate~=0.22.0
requests~=2.31.0
pytz~=2022.7
numpy~=1.25.2
urllib3~=2.0.4
regex~=2023.8.8
fastapi~=0.103.1